
proj.android-studio/.gradle
proj.android-studio/local.properties
proj.android-studio/.idea/workspace.xml
proj.android-studio/.idea/libraries
proj.android-studio/.DS_Store
proj.android-studio/build
proj.android-studio/captures
proj.android-studio/.externalNativeBuild

proj.android-studio/app/build
proj.android-studio/app/.externalNativeBuild

proj.ios_mac/build/
proj.ios_mac/DerivedData/
proj.ios_mac/*.pbxuser
proj.ios_mac/!default.pbxuser
proj.ios_mac/*.mode1v3
proj.ios_mac/!default.mode1v3
proj.ios_mac/*.mode2v3
proj.ios_mac/!default.mode2v3
proj.ios_mac/*.perspectivev3
proj.ios_mac/!default.perspectivev3
proj.ios_mac/xcuserdata/
proj.ios_mac/*.moved-aside
proj.ios_mac/*.xccheckout
proj.ios_mac/*.xcscmblueprint
proj.ios_mac/*.hmap
proj.ios_mac/*.ipa
proj.ios_mac/*.dSYM.zip
proj.ios_mac/*.dSYM
proj.ios_mac/Carthage/Build
proj.ios_mac/fastlane/report.xml
proj.ios_mac/fastlane/Preview.html
proj.ios_mac/fastlane/screenshots
proj.ios_mac/fastlane/test_output
proj.ios_mac/iOSInjectionProject/

**/proj.android/**
**/proj.linux/**
**/proj.tizen/**
**/proj.win10/**
**/proj.win32/**

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
*Makefile
lib/
*.udf

bin/
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/libs/
proj.android/local.properties
proj.android/obj/
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
cocos2d/cocos/platform/android/java/res/
.metadata/
.recommenders/

.idea/
*.iml
proj.android-studio/app/assets/
proj.android-studio/app/obj/
proj.android-studio/app/libs/armeabi/
proj.android-studio/app/libs/armeabi-v7a/
proj.android-studio/app/libs/x86/
proj.android-studio/app/gradle.properties
proj.android-studio/app/local.properties
proj.android-studio/*/build/
cocos2d/cocos/platform/android/libcocos2dx/build/
cocos2d/cocos/platform/android/java/libs/gps/build/

cocos2d/build/build/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/
proj.ios_mac/build/
proj.ios_mac/*.xcodeproj/project.xcworkspace
proj.ios_mac/*.xcodeproj/xcuserdata/
!*.pch
*.suo
.vs/
.vscode/
cocos2d/cocos/2d/Debug.*/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.*/
cocos2d/external/Box2D/proj.win32/Debug.*/
cocos2d/external/recast/proj.win32/Debug.*/
cocos2d/cocos/2d/Release.*/
cocos2d/cocos/editor-support/spine/proj.win32/Release.*/
cocos2d/external/Box2D/proj.win32/Release.*/
cocos2d/external/recast/proj.win32/Release.*/
